.App {
  text-align: center;
}
.wrapper {
  display: block;
}
#sidebar {
  height: 100%;
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3378fb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
a:hover{
  text-decoration: none;
  background-color: #558efd;
}
a.normal{
  color: #fff;
  padding:10px;
  display: block;
}
a.normal.active{
  background-color:#fff;
}
.removeborder{
  border-top: 0 none !important;
  width: 20%;
  display: inline-block;
}
.form-group{
  margin-top: 1em;
}
.customer-list{
  margin-bottom: 1.5em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
